%article
  %header
    %h1.title= item[:title]
    .publish-time-container
      %span.icon-publish-time(title="Publish time") &nbsp;
      %span.publish-time= attribute_to_time(item[:created_at])
  #content<= yield
  %footer
    - if not item[:tags].nil?
      .tags-container
        .icon-tags(title="Tags") &nbsp;
        %ul.tags.nav-list.nav-list-with-sep
          - item[:tags].each do |tag|
            %li= link_to(tag, url_for_tag(tag))
%aside
  - prev_item = older_article
  - if prev_item
    = link_to(prev_item[:title], prev_item, :class => "prev")
  - next_item = newer_article
  - if next_item
    = link_to(next_item[:title], next_item, :class => "next")
